    /***** GUIDE *****/
    /* VIOLET COLOR: #8976F7 */
    /* WHITE COLOR: ALICE BLUE */
    /***** GENERAL ******/
    
    * {
        padding: 0;
        margin: 0;
        border: 0;
        box-sizing: border-box;
        font-family: 'Manrope', sans-serif !important;
        scroll-behavior: smooth;
    }
    
    .shape {
        border: 5px solid #8976f7;
        background-color: #8976f7;
        border-radius: 10px 20px 30px 40px/30px;
        width: 85%;
        height: 48vh;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 30px;
        justify-content: space-around;
    }
    
    .img {
        display: flex;
        height: 50vh;
        margin-bottom: 18px;
    }
    /***** NAV *****/
    
    .navbar {
        position: fixed;
        top: 0;
        background-color: aliceblue;
        display: grid;
        width: 100%;
        padding: 1.5rem 1.5rem;
        grid-template-columns: repeat(5, 1fr);
        justify-items: center;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar a {
        color: #000000;
        font-size: 13px;
        font-weight: 800;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .navbar a:hover {
        background-color: #8976f7;
        border-radius: 10px 20px;
        color: aliceblue;
        transition: ease 0.3s;
    }
    /***** CUERPO *****/
    
    .container {
        display: grid;
        width: 100%;
        height: 100vh;
        grid-template-columns: repeat(2, 1fr);
        /*investigar mas de esto*/
    }
    
    .box-1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        justify-content: center;
        align-items: center;
    }
    
    .box-2 {
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: center;
    }
    
    .techno-img,
    .project-box,
    .contact-img,
    .ab-box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .ab-box {
        grid-template-columns: repeat(1, 1fr);
    }
    
    .home-box .shape {
        margin-left: 20px;
    }
    
    .contact-box {
        display: grid;
        margin-bottom: 30px;
    }
    
    img {
        width: 100%;
        height: 100%;
    }
    
    .box-1 h5 {
        color: rgb(51, 50, 50);
    }
    /***** HOME *****/
    
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        /* Añadido para solución */
    }
    
    .home-box-1 {
        margin-top: 20px;
        width: 100vw;
        height: 30vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .home-box-2 {
        width: 100vw;
        height: 70vh;
        margin-bottom: 50px;
    }
    /***** ABOUT ME *****/
    
    #about-me {
        background-color: #8976f7;
    }
    /***** PROJECTS *****/
    
    #projects {
        background-color: #8976f7;
    }
    
    .project-card {
        background-color: aliceblue;
        margin: 10px 5px 0px 5px;
        max-width: 200px;
        max-height: 250px;
    }
    
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.8rem;
        text-align: initial;
    }
    
    .card-title {
        margin-bottom: 0.75rem;
        font-size: 1.25rem;
    }
    
    .card-subtitle {
        font-size: 1rem;
        line-height: 1rem;
        color: #8976f7;
    }
    
    .card-text {
        margin-top: 10px;
        font-size: 0.9rem;
        line-height: 1rem;
    }
    
    .project-view {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .project-link {
        background-color: #8976f7;
        color: aliceblue;
        padding: 0.5rem;
        text-decoration: none;
        border-radius: 10px 20px;
    }
    /***** CONTACT-FORM *****/
    
    .contact-data input {
        background-color: aliceblue;
        height: 5vh;
        width: 80vw;
        border-bottom: #8976f7 1px solid;
        margin-top: 10px;
        color: #8976f7;
    }
    
    #msg_area {
        margin-top: 10px;
        min-width: 80vw;
        min-height: 200px;
        max-width: 80vw;
        max-height: 100px;
        border-bottom: #8976f7 1px solid;
        color: #8976f7;
    }
    
    .btn {
        margin-top: 10px;
        height: 50px;
        background-color: #8976f7;
        color: aliceblue;
        width: 100px !important;
        border-radius: 10px 20px;
    }
    
    .mail-subject {
        border-bottom: 50px;
    }
    
    .mail-form {
        width: 50vh;
        justify-content: center;
    }
    
    .social-media {
        width: 50vh;
        display: flex;
    }
    
    .contact-url img {
        width: 100px;
        height: 100px;
        margin: 50px 30px 0px 30px;
        transition: ease 0.3s;
    }
    
    hr {
        border: 0;
        border-top: 2px solid #8976f7;
        height: 10px;
        width: 50%;
        margin-bottom: 50px;
    }
    /***** FOOTER *****/
    
    .footer {
        width: 100%;
        height: 11vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        background-color: #8976f7;
        flex-wrap: wrap;
        align-content: stretch;
        justify-content: space-around;
    }
    
    .footer a img {
        width: 60px;
        height: 70px;
    }
    
    .footer h5 {
        margin-top: 10px;
    }
    /***** BACK-TO-TOP *****/
    /* 
.top {
    --offset: 50px;
    position: sticky;
    bottom: 20px;
    place-self: end;
    margin-top: calc(100vh + var(--offset));
    
    
    text-decoration: none;
    padding: 10px;
    color: #fff;
    background: #8976f7;
    border-radius: 20px;
    border-color: #6153b1;
    border-style: solid;
    border-width: 2px;
}
*/
    /***** MEDIAS-QUERY *****/
    
    @media (min-width:320px) {
        .box-2,
        .box-1 {
            grid-column: span 2;
            justify-content: normal;
            margin-top: 20px;
        }
    }
    
    @media (min-width:468px) and (max-width:491px) {
        /*a52*/
        /***** ABOUT ME *****/
        .ab-box p {
            font-size: 13px;
            line-height: 20px !important;
            padding: 10px;
        }
        /***** PROJECTS *****/
        .project-card {
            min-width: 180px;
            min-height: 150px;
        }
        .project-view {
            margin-top: 20px;
        }
        .project-link {
            background-color: #8976f7;
            color: aliceblue;
            padding: 1rem;
            text-decoration: none;
            border-radius: 10px 20px;
        }
        .card-text {
            display: none;
        }
        /***** CONTACT-FORM *****/
        #msg_area {
            min-width: 80vw;
            min-height: 75px;
            max-width: 80vw;
            max-height: 75px;
        }
    }
    
    @media (min-width:641px) {
        /***** NAV *****/
        .navbar a {
            height: 50px;
            width: 120px;
        }
        /***** CUERPO *****/
        .box-1 {
            grid-column: span 2;
        }
        .box-2 {
            grid-column: span 2;
            justify-content: center;
        }
        /***** HOME *****/
        .home-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            /* Añadido para solución */
        }
        .home-box-1 {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .home-box-2 {
            width: 90vw;
            height: 70vh;
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .shape {
            width: 70vw;
            height: 90%;
            display: flex;
            flex-direction: column-reverse;
        }
        .shape img {
            height: 90vh;
        }
        /***** ABOUT ME *****/
        #ab-img {
            width: 100vw;
            height: 70vh;
        }
        .ab-box {
            grid-template-columns: repeat(1, 1fr);
            gap: 0;
            justify-items: center;
        }
        .ab-box p {
            margin-right: 20px;
        }
        /*****TECNHOLOGIES*****/
        .techno-img {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 30px;
        }
        /***** PROJECTS *****/
        .project-card {
            min-width: 300px;
            min-height: 200px;
        }
        .project-view {
            margin-top: 40px;
        }
        .project-link {
            background-color: #8976f7;
            color: aliceblue;
            padding: 1rem;
            text-decoration: none;
            border-radius: 10px 20px;
        }
        /***** CONTACT-FORM *****/
        #contact-title {
            margin-top: 25px;
        }
        .contact-img {
            grid-template-columns: repeat(2, 1fr);
        }
        .contact-url img {
            width: 200px;
            height: 200px;
        }
        #github-img {
            margin-left: 30px;
        }
        .contact-data input {
            height: 6vh;
            width: 90vw;
        }
        #msg_area {
            min-width: 90vw;
            min-height: 150px;
            max-width: 90vw;
            max-height: 150px;
        }
        .hr-box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            width: 50%;
            position: static;
            align-items: center;
        }
        hr {
            width: 90%;
        }
        .btn {
            transition: ease 0.3s;
        }
        .btn:hover {
            height: 60px;
            width: 120px !important;
            transition: ease 0.3s;
        }
    }
    /* TABLETS */
    
    @media (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */
    }
    /*PC*/
    
    @media (min-width:1281px) {
        /***** NAV *****/
        .navbar a {
            height: 50px;
            width: 120px;
        }
        /***** CUERPO *****/
        .box-1 {
            grid-column: span 2;
        }
        .box-2 {
            grid-column: span 2;
            justify-content: center;
        }
        /***** HOME *****/
        .home-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            text-align: center;
            /* Añadido para solución */
        }
        .home-box-1 {
            width: 50vw;
            height: 100vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        .home-box-2 {
            width: 50vw;
            height: 70vh;
            margin-bottom: 50px;
            display: flex;
            align-items: center;
        }
        .shape {
            width: 25vw;
            height: 60vh;
            display: flex;
            flex-direction: column-reverse;
            margin-left: 100px;
            justify-content: space-around;
        }
        .shape img {
            height: 63vh;
            margin-bottom: 26px;
        }
        /***** ABOUT ME *****/
        .ab-me-box {
            margin-top: 70px;
        }
        #ab-img {
            width: 40vw;
            height: 70vh;
            margin-left: 20px;
        }
        .ab-box {
            grid-template-columns: repeat(2, 1fr);
            gap: 0;
            justify-items: center;
        }
        .ab-box p {
            margin-right: 20px;
            font-size: 20px;
            margin-top: 100px;
            text-align: left;
        }
        /*****TECNHOLOGIES*****/
        .techno-img {
            grid-template-columns: repeat(4, 1fr);
            margin-bottom: 30px;
        }
        /***** PROJECTS *****/
        .project-card {
            min-width: 600px;
            min-height: 200px;
        }
        .project-view {
            margin-top: 40px;
        }
        .project-link {
            background-color: #8976f7;
            color: aliceblue;
            padding: 1rem;
            text-decoration: none;
            border-radius: 10px 20px;
        }
        /***** CONTACT-FORM *****/
        #contact-title {
            margin-top: 25px;
        }
        .contact-img {
            grid-template-columns: repeat(2, 1fr);
            align-items: center;
        }
        .contact-url img {
            margin-right: 100px;
            width: 120px;
            height: 120px;
        }
        .contact-url img:hover {
            width: 145px;
            height: 145px;
            transition: ease 0.3s;
        }
        #github-img {
            margin-left: 30px;
        }
        .contact-data input {
            height: 5vh;
            width: 50vw;
            margin-right: 100px;
        }
        #msg_area {
            min-width: 50vw;
            min-height: 150px;
            max-width: 50vw;
            max-height: 150px;
            margin-right: 100px;
        }
        .hr-box {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: flex-start;
            width: 90%;
            position: static;
        }
        hr {
            width: 90%;
        }
        .btn {
            transition: ease 0.3s;
        }
        .btn:hover {
            height: 60px;
            width: 120px !important;
            transition: ease 0.3s;
        }
    }